<h1>Profile</h1>
<div class="card">
  <div class="card-body">
    <div class="card-title">
      Complete your profile details:
    </div>
    <div class="card-text">
      <form>
        <div class="form-group">
          <label for="name">
            Name
          </label>
          <input
            type="text"
            class="form-control"
            id="name"
          >
        </div>
        <div class="form-group">
          <label for="email">
            E-mail
          </label>
          <input
            type="text"
            class="form-control"
            id="email"
          >
        </div>
        <div class="form-group">
          <label>
            Freelancer
          </label>
          <input
            type="radio"
            class="form-control"
            id="freelancer-yes"
            name="freelancer"
          >
          <input
            type="radio"
            class="form-control"
            id="freelancer-no"
            name="freelancer"
          >
        </div>
        <div class="form-group">
          <label>
            Languages <button class="btn btn-primary">+</button>
          </label>
        </div>
        <div class="form-group">
          <label>
            Social Networks <button class="btn btn-danger">+</button>
          </label>
        </div>
        <div class="form-group">
          <button class="btn">Cancel</button>
          <button class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
