<h1>Profile Info</h1>
<div class="card">
  <div class="card-body">
    <div class="card-title">
      Profile Info
    </div>
    <div class="card-text">
      <p>
        <label>Name: </label>
        xxx
      </p>
      <p>
        <label>Email: </label>
        xxx
      </p>
      <p>
        <label>Languages: </label>
        xxx
      </p>
      <p>
        <label>Social Networks: </label>
        xxx
      </p>
      <p>
        <label>Freelancer: </label>
        xxx
      </p>
      <p>
        <button class="btn btn-primary">
          Edit Profile
        </button>
      </p>
    </div>
  </div>
</div>
